.menu {
  background-color: white;
  top: 0px;
  justify-content: space-around;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #646BD9;
  order: 1;
  flex-grow: 0;
  padding-left: 215px;
  padding-right: 300px;
  z-index: 100;
}

#logo {
  padding-top: 15px;
  padding-bottom: 15px;
}


#menutext {
  margin-top: 31px;
  margin-bottom: 31px;
}

.frame1 {
  background-color: #646BD9;
  height: 700px;
  margin-left: 0px;
  background: #646BD9;
  display: flex;
  padding-left: 215px;
  padding-top: 80px;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

#text1 {
  margin-top: 181px;
  width: 528px;
  height: 92px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 51px;
  color: #FFFFFF;
}

#text2 {
  width: 528px;
  height: 72px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 25px;
}

#text3 {
  box-sizing: border-box;
  padding-top: 25px;
  text-align: center;
  margin-top: 25px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: #646BD9;
  width: 241px;
  height: 67px;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px #FFFFFF;
}

.rightside {
  margin-top: 43px;
  margin-left: 124px;
}

.frame2 {
  display: flex;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.ls1 {
  margin-left: 215px;
  margin-top: 81px;
}

.rs1 {
  margin-left: -1px;
  margin-top: 169px;
}

#f2t1 {
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #FFFFFF;
  width: 337px;
  height: 48px;
  background: #646BD9;
}

#f2t2 {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 215px;
  padding-top: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  width: 905px;
  height: 224px;
  background: #646BD9;
}

.frame3 {
  margin-left: 215px;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

#text4 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #646BD9;
  margin-top: 92px;
}

th {
  width: 283px;
}

table {
  width: 1130px;
  margin-top: 87px;
}

#firstrow {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  text-align: start;
  font-size: 18px;
  line-height: 22px;
  color: #646BD9;
  box-sizing: border-box;
  padding-bottom: 9px;
}

#secondrow {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  text-align: start;
  font-size: 24px;
  line-height: 29px;
  color: #646BD9;
  box-sizing: border-box;
  padding-left: 47px;
}

#thirdrow {
  font-weight: 300;
  font-family: 'Montserrat';
  font-style: normal;
  text-align: start;
  font-size: 12px;
  line-height: 15px;
  color: #646BD9;
  box-sizing: border-box;
  padding-left: 47px;
  justify-content: flex-start;
  width: 283px;
  padding-top: 9px;
}

#fourthrow {
  text-align: start;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #646BD9;
  padding-left: 47px;
  padding-top: 30px;
}

.frame4 {
  margin-top: 205px;
  box-sizing: border-box;
  padding-top: 84px;
  width: 100%;
  height: 600px;
  left: 0px;
  background: #646BD9;
  padding-left: 185px;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

iframe {
  filter: drop-shadow(4px 4px 30px #000000);
  margin-left: 30px;
  margin-top: 71px;
}

.text5 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  display: flex;
}

.frame5 {
  margin-left: 215px;
}

ul {
  width: 270px;
  height: 359px;
  border: 3px solid #646BD9;
  list-style: none;
  box-sizing: border-box;
  padding-top: 29px;
}

#clock {
  margin-left: 50px;
  margin-bottom: 12px;
}

ol, dl {
  width: 270px;
  height: 359px;
  border: 3px solid #646BD9;
  list-style: none;
  box-sizing: border-box;
  margin-left: 30px;
  padding-top: 29px;
}

.block4 {
  margin-top: 16px;
  width: 270px;
  height: 359px;
  border: 3px solid #646BD9;
  list-style: none;
  box-sizing: border-box;
  margin-left: 30px;
  padding-top: 29px;
}

#firstt {
  margin-top: 12px;
  width: 207px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #646BD9;
}

#secondt {
  margin-top: 12px;
  width: 207px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #646BD9;
}

.frame6 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.04em;
  color: #646BD9;
}

.first {
  margin-left: -8px;
  text-align: center;
}

.second {
  margin-left: -8px;
}

#third {
  margin-left: 95px;
}

.fourth {
  margin-left: 31px;
}

.fifth {
  margin-left: 50px;
}

.sixth {
  margin-left: 30px;
}

.container {
  margin-top: 65px;
}

a {
  text-decoration: none;
}

.text {
  &:hover {
    text-align: center;
    width: 150px;
    letter-spacing: 0.2em;
  }

  transition: all 1.5s;
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  div {
    width: 50%;
  }
}

footer {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #646BD9;
  margin-left: 215px;
}

.footer {
  display: flex;
}

#foottext {
  margin-left: 98px;
  margin-top: 20px;
}

#foottext1 {
  margin-left: 98px;
  margin-top: 10px;
  box-sizing: border-box;
  padding-top: 14px;
  text-align: center;
  width: 180px;
  height: 45px;
  border: 1px solid #646BD9;
}

#arrow {
  margin-left: 98px;
}

.line {
  margin-top: 17px;
}

.footer2 {
  margin-top: 26px;
}

.contactform {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 665px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px #FFFFFF;
  border-radius: 5px;
  margin-top: 120px;
}

.style {
  border: none;
  width: 350px;
  height: 50px;
  filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.25));
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #646BD9;
}

.contact {
  width: 100%;
  text-align: center;
  height: 50px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #646BD9;
}

label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #646BD9;
}

/* Сховати звичайне меню за замовчуванням */

.menu ul {
  display: none;
}

/* Стилі для кнопки меню */

.menu-button {
  display: none;

  /* Початково ховаємо кнопку */

  &:hover + ul {
    display: block;

    /* При наведенні на кнопку відображаємо список */
  }
}

/* Відображення кнопки меню при досягненні певної ширини екрану */
@media screen and (max-width: 768px) {
  .menu ul {
    display: none;

    /* Приховуємо меню на малих екранах */
  }

  .menu-button {
    display: block;

    /* Відображаємо кнопку */
  }

  /* Сховати основне меню при малих екранах */

  .menu {
    #logo, #menutext {
      display: none;
    }
  }
}

/* Стилі для випадаючого списку */

.menu ul {
  transition: opacity 0.5s ease;

  /* Плавне зникнення меню */
}
